//META{"name":"Small-Members-Tab-Fixed","description":"Make the members tab smaller. (It gets full size when you hover it).","author":"Munkaylol","version":"1.5.0"}*//{}

/*-------------------Fixed By: Munkaylol. Originally Made By Beard Design.-------------------------*/
.container-2o3qEW{
    transform:translateX(0px);
    z-index:999;
    transition: transform 400ms cubic-bezier(.2,0,0,1);
    will-change: transform;
    margin-left: 0px;
    max-width: 60px;
}
.container-2o3qEW:hover {
    transform:translateX(-179px);
}
.chatContent-3KubbW {
    max-width: 99%;
}
.membersGroup-2eiWxl {
    margin-left: -10px;
    font-size: 10px;
}
.container-2o3qEW:hover .membersGroup-2eiWxl {
    margin-left: 2px;
    font-size: 12px
}
.app {
    overflow-x: hidden;
}

.membersWrap-3NUR2t hiddenMembers-8kpYM0 .container-2o3qEW .activity-1IYsbk,
.membersWrap-3NUR2t hiddenMembers-8kpYM0 .container-2o3qEW .memberInner-2CPc3V {
    opacity:0;
    transition: transform 100ms ease, opacity 100ms ease;
    
}
.membersWrap-3NUR2t hiddenMembers-8kpYM0:hover .container-2o3qEW .activity-1IYsbk,
.membersWrap-3NUR2t hiddenMembers-8kpYM0:hover .container-2o3qEW .memberInner-2CPc3V {
    opacity:1;
}
.header-toolbar button.active{
    display:none;
}

.membersWrap-3NUR2t hiddenMembers-8kpYM0 .membersGroup-v9BXpm {
    transform:translateX(-50%)scale(0.7);
    transition: 400ms cubic-bezier(.2,0,0,1), max-width 1ms;
    width:auto;
    display: inline-block;
    min-width: 10px;
    left:45px;
    position: relative;
    flex-basis: auto;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
    right:45px;
    padding-left:0;
    padding-right: 0;
}
.membersWrap-3NUR2t hiddenMembers-8kpYM0:hover .membersGroup-v9BXpm {
    transform:translateX(-15px) scale(1);
    max-width: 180px;
}

.membersWrap-3NUR2t hiddenMembers-8kpYM0 .avatar-16XVId {
    transition: transform 400ms ease;
    transform:translateX(15px)scale(1.2);
}
.membersWrap-3NUR2t hiddenMembers-8kpYM0:hover .avatar-16XVId {
    transform:translateX(0)scale(1);
}

.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:0px;
    z-index:0
}
.membersWrap-2h-GB4{
    min-width:90px!important;
    width:90px!important
}

/*-------------------Fixed By: Munkaylol. Originally Made By Beard Design.-------------------------*/
